.dark {
    background-color: $color-bg-dark;
}

.score {
    .display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    svg {
        height: 2.5rem;
        width: 2.5rem;
        fill: currentColor;
    }

    &__o {
        color: $color-o;
    }

    &__x {
        color: $color-x;
    }

    &__draw {
        color: $color-gray;

        svg {
            height: 3.2rem;
            width: 3.2rem;
        }
    }

    &__wins {
        padding-top: 1rem;
    }
}

.main {
    img {
        height: 100%;
        padding: 1rem;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__line {
        display: flex;
    }

    &__l2 {
        .box {
            border-bottom: 2px solid $color-gray;
            border-top: 2px solid $color-gray;
        }
    }

    .box:nth-child(2) {
        border-left: 2px solid $color-gray;
        border-right: 2px solid $color-gray;
    }

    .box {
        height: 10rem;
        width: 10rem;
    }
}

.next {
    svg {
        height: 2rem;
        width: 2rem;
        display: block;
    }

    &__text {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $color-gray;
    }

    &__icon {
        align-self: center;
        padding: 0 0 0 1.2rem;
        position: relative;
    }

    .o {
        fill: $color-o;
    }

    .x {
        fill: $color-x;
    }

    &__container {
        border: 1px solid $color-gray;
        border-radius: 50px;
        padding: 1rem 1.8rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hidden {
        display: none;
    }
}

.nav {
    svg {
        height: 2.4rem;
        width: 2.4rem;
        display: block;
        fill: $color-gray;
    }

    &__icon {
        border: 1px solid $color-gray;
        border-radius: 50%;
        padding: 1.6rem;
    }

    &__player {
        font-size: 2rem;
        border: 1px solid $color-gray;
        border-radius: 50px;
        padding: 0.4rem 1.4rem;
    }
}
