.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score {
    padding: 2.5rem 0;
    font-size: 1.8rem;
    border-bottom: 1px solid $color-gray;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    margin-bottom: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
